.about-text-container {
    box-shadow: 0 0 10px rgb(51, 59, 120),
                0 0 20px rgb(51, 59, 120),
                0 0 30px rgb(51, 59, 120),
                0 0 40px rgb(51, 59, 120);
  }
  @keyframes moveForward {
    0% {
      transform:  rotate(0deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  .rotate-animation {
    animation: moveForward 9s linear infinite;
  }
  
  .rotate-animation:hover {
    animation-play-state: paused;
  }
 
  
  
  
  