@keyframes moveForward {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(460%) rotate(360deg);
  }
  100% {
    transform: translateX(0) rotate(-360deg);
  }
}

.rotate-move-animation {
  animation: moveForward 5s linear infinite;
}

.rotate-move-animation:hover {
  animation-play-state: paused;
}

@keyframes zooming {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.zoom {
  animation: zooming 2s linear;
}

.contact-card {
  transition: all 0.6s ease-in-out;
}

.contact-card:hover {
  height: fit-content;
  padding-bottom: 10px; 
}

.contact-card img {
  display: none;

}

.contact-card:hover img {
  display: block;
}




